.main-section div{
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 10%;
}

.main-panel{
    display:flex;
    flex-direction: column;
    

}

.search-box{
    display: flex;
    flex-direction: row;
}.search-box ,.main-panel{
    padding:10%;
}